* {
  margin: 0;
  padding: 0;
}

.alignment__container {
  position: relative;
  display: flex;
  width: 400px;
  height: 400px;
  margin: 100px;
  width: 400px;
  height: 400px;
  margin: 100px;
  justify-content: center;
  vertical-align: center;
}

.alignment__controls {
  display: flex;
  position: absolute;
  width: 400px;
  height: 400px;
  flex-direction: column;
  align-items: center;
  background: rgba( 173, 216, 230, .6);
}

.alignment__controls button {
  display: flex;
  width: 75px;
  padding: 4px 10px;
  justify-content: center;
}

.alignment__controls-btn {
  display: flex;
  flex: 1;
}

.alignment__controls--top {
  align-items: flex-start;
}

.alignment__controls--middle {
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.alignment__controls--bottom {
  align-items: flex-end;
}

.alignment__image-container {
  display: flex;
}

.alignment__image-container img {
  width: 500px;
}
